.dropDown{
    font-size: 14px;
    font-weight: 600;
    position:absolute;
    top:0;
    right:60px;
    width:200px;
    .defaultOption{
        display:flex;
        justify-content: space-between;
        padding:18.5px 20px;
        align-items: center;
        border-radius:5px;
        box-shadow: 0 2px 17px -12px black;
        cursor:pointer;
        border:none;
        width:200px;
        &:focus{
        outline:none;
        + div{
            opacity:1;
            transform: translateY(0);
             }
            }
        }

    .list{
        padding:20px 20px 10px;
        box-shadow: 0 2px 17px -12px black;
        border-radius:5px;
        margin-top:5px;
        opacity:0;
        transform: translateY(-10px);
        transition: all 0.4s ease;
        ul{
            list-style:none; 
        li{
            margin-bottom:10px;
            button{
            transition:all 0.4s ease;
            background:none;
            border: none;
            cursor:pointer;
            color:none;
            &:focus{
            outline:none;
            }
            &:hover{
                transform:scale(1.2);
               
            }
        }
        
        }   
        }
    }
}




@media only screen and (max-width:780px){
    .dropDown{
        top:80px;
        left:60px;
        right:0;
    }
}

@media only screen and (max-width:375px){
    .dropDown{
        top:80px;
        right:0;
        left:20px;
    }
}